:root {
    --primary-color: #425b84;
    --secondary-color: #5b7bb4;
    --max-width: 1100px
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: normal 1rem/1.5 'Arial', sans-serf;
    background: var(--primary-color);
    color: #fff;
    overflow-x: hidden;
    padding-bottom: 50px;
}

#main-header {
    background: var(--secondary-color);
    padding: 4rem 0;
}

.container {
    max-width: var(--max-width);
    margin: auto;
    text-align: center;
}

#timeline ul {
    list-style: none;
    width: 5px;
    background: #fff;
    margin: 0 auto;
    padding-top: 50px;
}

#timeline ul li {
    position: relative;
    bottom: 0;
    width: 400px;
    padding: 1rem;
    background: var(--secondary-color);
    margin-bottom: 3rem;
    left: 100px;
}

#timeline ul li:nth-child(even) {
    left: -490px;
}

#timeline ul li:after {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    background: #fff;
    left: -112px;
    bottom: 0px;
    border-radius: 50%;
}

#timeline ul li:nth-child(even)::after {
    left: 478px;
}

#timeline ul li:before {
    content: '';
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-right: 30px solid var(--secondary-color);
    border-bottom: 15px solid transparent;
    position: absolute;
    left: -30px;
    bottom: 0;
}

#timeline ul li:nth-child(even):before {
    border-right: none;
    border-left: 30px solid var(--secondary-color);
    left: 400px;
}

@media only screen and (max-width: 1050px) and (min-width: 850px) {
    #timeline ul li {
        width: 300px;
    }
    #timeline ul li:nth-child(even) {
        left: -390px;
    }
    #timeline ul li:nth-child(even):after {
        left: 378px;
    }
    #timeline ul li:nth-child(even):before {
        left: 300px;
    }
}

@media only screen and (max-width: 849px) and (min-width: 770px) {
    #timeline ul li {
        left: 70px;
        width: 300px;
    }
    #timeline ul li:nth-child(even) {
        left: -360px;
    }
    #timeline ul li:after {
        left: -82px;
    }
    #timeline ul li:nth-child(even):after {
        left: 348px;
    }
    #timeline ul li:nth-child(even):before {
        left: 300px;
    }
}

@media only screen and (max-width: 769px) {
    #timeline ul li {
        left: 70px;
    }
    #timeline ul li:after {
        left: -82px;
    }
    #timeline ul li:nth-child(even) {
        left: 70px;
    }
    #timeline ul li:nth-child(even):before {
        border-right: 30px solid var(--secondary-color);
        border-left: none;
        left: -30px;
    }
    #timeline ul li:nth-child(even)::after {
        left: -82px;
    }
}

@media only screen and (max-width: 769px) and (min-width: 700px) {
    #timeline ul {
        margin: 0 40px;
    }
    #timeline ul li {
        width: 550px;
    }
}

@media only screen and (max-width: 699px) and (min-width: 650px) {
    #timeline ul {
        margin: 0 100px;
    }
    #timeline ul li {
        width: 400px;
    }
}

@media only screen and (max-width: 649px) and (min-width: 420px) {
    #timeline ul {
        margin: 0 20px;
    }
    #timeline ul li {
        width: 350px;
    }
}

@media only screen and (max-width: 419px) {
    #timeline ul {
        margin: 0 20px;
    }
    #timeline ul li {
        width: 250px;
    }
}